.left {
    max-width: 251px;
    padding: 0 34px;

    &__logo {
        padding-top: 43px;
        padding-bottom: 35px;
    }

    &__span {
        border: 1px solid rgba(255, 255, 255, 1);
        width: 182px;
        margin-bottom: 36px;
    }

    &__item + &__item {
        margin-top: 40px;
    }

    &__item-logout {
        margin-top: 263px;
    }

    &__item-img {
        margin-right: 21px;
        width: 21px;
        height: 24px;
    }
}

.right {
    width: 1062px;
    margin: 0 52px;

    &__top {
        padding: 52px 0;
    }
}